@media (max-width: 479px) {
  /* CSS rules for smaller screens */
  header {
    margin: 10% 5%;
  }
  h1 {
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 1.2rem;
    white-space: normal;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 780px) {
  /* Styles */

  header {
    margin: 10% 5%;
  }
  h1 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 1.2rem;
  }
}

@media only screen and (min-device-width: 780px) and (max-device-width: 1300px) {
  /* Styles */

  header {
    margin: 10% 5%;
  }
  h1 {
    font-size: 3.4rem;
    line-height: 3.8rem;
    margin-bottom: 1.2rem;
  }
}
