header {
  margin: 10% auto;
  width: 80%;
  text-align: center;
}

h1 {
  font-size: 4.8rem;
  margin-bottom: 10%;
}
p {
  font-size: 2.4rem;
  word-wrap: break-word;
}

.social {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 40%;
}
.contact {
  margin-bottom: 2rem;
}

.anchor {
  font-size: 2.2rem;
}
.anchor:link,
.anchor:visited {
  color: black;
  border-bottom: 0.3rem solid #4c6ef5;
}

.anchor:hover,
.anchor:active {
  color: black;
  border-bottom: 2px solid #4c6ef5;
  cursor: pointer;
  transition: 300ms;
  color: blue;
}

.icon {
  width: 20px;
}
